/*Color Pallet
lightsalmon - #FFA07A - rgb(255,160,122)
black - #000000 - rgb(0,0,0)
wheat - #F5DEB3 - rgb(245,222,179)
 */

/*Global */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
:visited{
    color: white;
}
header {
    overflow: hidden;
}
header a  {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
header h1{
    font-size: 50px;
    text-align: center;
}
body{
    color: black;
    background-color: #5F9EA0;
}
/*NavBar*/
.nav{
    background-color: white;
}
span.navbar-toggler-icon {
    background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000');
}
#pLabel{
    margin-left: auto;
}
main a{
    text-align: left;
}
/* Weather App CSS */
.container{
    max-width: 550px;
    height: 100vh;
    border: 1em solid black;
    margin: 1em auto;
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
    background-color: wheat;
    color: black;
}
.container h1, h2, h3, span {
    margin: 0;
}
.container h1 {
    font-size: 16rem;
}
.container h2 {
    font-size: 3rem;
    padding-top: .5rem;
}
.container h3 {
    font-size: 1.4rem;
}
.container span {
    font-size: 6rem;
}
.degrees{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 2rem;
}

/* Responsive */
@media screen and (min-width:750px){
    header, footer {
        text-align: center;
    }
    /*a {*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/
}
@media screen and (min-width: 416px) and (max-width:749px){
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    a {
        padding: 5px;
    }
}
@media screen and (min-width: 360px) and (max-width: 415px){
    #pLabel{
        margin-right: auto;
    }
    #bLabel{
        margin-left: auto;
    }
    header h1{
        font-size: 50px;
        text-align: center;
    }
    #aboutMe{
        padding-top: 20px;
    }
    h3 {
        line-height: 0.9;
    }
}
/*@media screen and (width: 375px) and (height: 812px) {*/
/*    #pLabel{*/
/*        margin-left: auto;*/
/*    }*/
/*    #bLabel{*/
/*        margin-right: auto;*/
/*    }*/
/*}*/